span {
	margin-left: 4rem;
}
div col-md-4{
	border-style: hidden;
}
a.border1:hover{
	border-style: hidden;
	background-color: rgb(0, 160, 224);
	border: 11px solid rgb(0, 160, 224);
	color: white;
}
a.border1{
	color: white;
}
img.header1{
	width: 40px;
	height: 40px;
}
div.row{
	color: white;	
}
nav {
	height: 500px;
	background-image: url(../images/25nam.png);
	background-size: cover;

}
.mo {
	font-size: 18px;
	padding-left: 200px;
	padding-right: 800px;
	color: white;
	padding-top:  50px;
}
.mo2 {
	font-size: 18px;
	padding-left: 200px;
	padding-right: 800px;
	color: white;
	padding-top: 50px;

}
.row {
	align-items: center;
	justify-content: center;
}
.sukien2 {
	border-style: ridge; 
	border: 20px;
	font-size: 15px;
	padding-left: 200px;
	padding-right: 800px;
	color: black;
	padding-top: 70px;
	transition: 1000;


}
.sukien2:hover {

	transition: 0.4;
	transition-delay: 0.4;
	background-color: blue;


}
*{
	margin: 0;
	padding: 0;
	border: none;
	background-color: #E7E7E7;
}

.main-container{
	width: 380px;
	height: 210px;
	margin: 20px;
	padding: 20px;
	background-color: #FFFFFF
}

.follow-title{
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
	border-bottom: 2px solid black;
}

.follow-title h3{
	background-color: black;
	display: inline-block;
	color: #FADA1A;
	padding: 5px 10px
}

.follow-icon{
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
	/*padding-top: 20px;*/
	padding-bottom: 5px;
	overflow: hidden;
}

.icon{
	width: 120px;
	height: 120px;
	background-color: #3B5998;
	float: left;
	margin-right: 10px;
	text-align: center;
	margin-top: 20px;
	transition: 0.4s;
}

.icon i{
	font-size: 50px;
	color: white;
	background-color: transparent;
	display: block;
	margin-top: 10px; 
}
.icon p{
	background-color: transparent;
	margin-top: 20px;
	font-weight: bold;
	color: white;
}

.twitter{
	background-color: #1DCAFF;
}

.google-plus{
	background-color: #DD4B39;
	margin-right: 0px;
}
.icon:hover{
	background-color: black;
	margin-top: 15px;
	transition: 0.4s;
}
.display{
	display: inline-block;
	background-color: white;
	color: #FADA1A;
	position: relative;
	top: 12px;
	left: 20px;
	padding-left: 10px;
	padding-right: 10px;
}


